<h1>Notes</h1>
<p>
Here is a place for all of your notes.
</p>
<hr>

<input [(ngModel)]="content" placeholder="Add your own note" class="input" name="note">


<button class="button is-success" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Note
</button>
<hr>
<div *ngFor="let note of notes | async">
    <note-detail [note]="note"></note-detail>
</div>
