<div id="wrapper" class="content">
    <main-nav></main-nav>

    <div class="columns">
        <aside class="column is-2 is-offset-1">
            <user-profile></user-profile>
        </aside>

        <main class="column is-8">
            <notification-message></notification-message>

            <router-outlet></router-outlet>
        </main>
    </div>


    <footer class="footer">
        Angular v6.x + Firebase PWA Starter App <br>amended by Andrew Little<br>
        <br>Open Source | MIT License | Created by <a href="https://jeffdelaney.me">Jeff Delaney</a>
    </footer>
</div>
